## Assignment-Mobile Price Prediction

In [1]:
import numpy as np
import pandas as pd

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.3.0 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "C:\AnnacoondaAIML\Lib\runpy.py", line 198, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\AnnacoondaAIML\Lib\runpy.py", line 88, in _run_code
    exec(code, run_globals)
  File "C:\AnnacoondaAIML\Lib\site-packages\ipykernel_launcher.py", line 18, in <module>
    app.launch_new_instance()
  File "C:\AnnacoondaAIML\Lib\site-packages\traitlets\config\application.py", line 1075, in launch_instance
    app.start()
  File "C:\AnnacoondaAIML\Lib\site-packages\ipykernel\kernelapp.py", line 739, in start
    self.io_loop.start()
  File "C:\AnnacoondaAIML\Lib\site-packages\tornado\platform\asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "C:\AnnacoondaAIML\Lib\asyncio\base_events.py", line 641, in run_forever
    self._run_once()
  File "C:\AnnacoondaAIML\Lib\asyncio\base_events.py", line 1986, in _run_once
    handle._run()
  File "C:\AnnacoondaAIML\Lib\asyncio\events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "C:\AnnacoondaAIML\Lib\site-packages\ipykernel\kernelbase.py", line 545, in dispatch_queue
    await self.process_one()
  File "C:\AnnacoondaAIML\Lib\site-packages\ipykernel\kernelbase.py", line 534, in process_one
    await dispatch(*args)
  File "C:\AnnacoondaAIML\Lib\site-packages\ipykernel\kernelbase.py", line 437, in dispatch_shell
    await result
  File "C:\AnnacoondaAIML\Lib\site-packages\ipykernel\ipkernel.py", line 362, in execute_request
    await super().execute_request(stream, ident, parent)
  File "C:\AnnacoondaAIML\Lib\site-packages\ipykernel\kernelbase.py", line 778, in execute_request
    reply_content = await reply_content
  File "C:\AnnacoondaAIML\Lib\site-packages\ipykernel\ipkernel.py", line 449, in do_execute
    res = shell.run_cell(
  File "C:\AnnacoondaAIML\Lib\site-packages\ipykernel\zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "C:\AnnacoondaAIML\Lib\site-packages\IPython\core\interactiveshell.py", line 3075, in run_cell
    result = self._run_cell(
  File "C:\AnnacoondaAIML\Lib\site-packages\IPython\core\interactiveshell.py", line 3130, in _run_cell
    result = runner(coro)
  File "C:\AnnacoondaAIML\Lib\site-packages\IPython\core\async_helpers.py", line 128, in _pseudo_sync_runner
    coro.send(None)
  File "C:\AnnacoondaAIML\Lib\site-packages\IPython\core\interactiveshell.py", line 3334, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\AnnacoondaAIML\Lib\site-packages\IPython\core\interactiveshell.py", line 3517, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "C:\AnnacoondaAIML\Lib\site-packages\IPython\core\interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\suman\AppData\Local\Temp\ipykernel_16312\1662815981.py", line 2, in <module>
    import pandas as pd
  File "C:\Users\suman\AppData\Roaming\Python\Python312\site-packages\pandas\__init__.py", line 39, in <module>
    from pandas.compat import (
  File "C:\Users\suman\AppData\Roaming\Python\Python312\site-packages\pandas\compat\__init__.py", line 27, in <module>
    from pandas.compat.pyarrow import (
  File "C:\Users\suman\AppData\Roaming\Python\Python312\site-packages\pandas\compat\pyarrow.py", line 8, in <module>
    import pyarrow as pa
  File "C:\AnnacoondaAIML\Lib\site-packages\pyarrow\__init__.py", line 65, in <module>
    import pyarrow.lib as _lib

ImportError:
A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.3.0 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.3.0 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "C:\AnnacoondaAIML\Lib\runpy.py", line 198, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\AnnacoondaAIML\Lib\runpy.py", line 88, in _run_code
    exec(code, run_globals)
  File "C:\AnnacoondaAIML\Lib\site-packages\ipykernel_launcher.py", line 18, in <module>
    app.launch_new_instance()
  File "C:\AnnacoondaAIML\Lib\site-packages\traitlets\config\application.py", line 1075, in launch_instance
    app.start()
  File "C:\AnnacoondaAIML\Lib\site-packages\ipykernel\kernelapp.py", line 739, in start
    self.io_loop.start()
  File "C:\AnnacoondaAIML\Lib\site-packages\tornado\platform\asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "C:\AnnacoondaAIML\Lib\asyncio\base_events.py", line 641, in run_forever
    self._run_once()
  File "C:\AnnacoondaAIML\Lib\asyncio\base_events.py", line 1986, in _run_once
    handle._run()
  File "C:\AnnacoondaAIML\Lib\asyncio\events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "C:\AnnacoondaAIML\Lib\site-packages\ipykernel\kernelbase.py", line 545, in dispatch_queue
    await self.process_one()
  File "C:\AnnacoondaAIML\Lib\site-packages\ipykernel\kernelbase.py", line 534, in process_one
    await dispatch(*args)
  File "C:\AnnacoondaAIML\Lib\site-packages\ipykernel\kernelbase.py", line 437, in dispatch_shell
    await result
  File "C:\AnnacoondaAIML\Lib\site-packages\ipykernel\ipkernel.py", line 362, in execute_request
    await super().execute_request(stream, ident, parent)
  File "C:\AnnacoondaAIML\Lib\site-packages\ipykernel\kernelbase.py", line 778, in execute_request
    reply_content = await reply_content
  File "C:\AnnacoondaAIML\Lib\site-packages\ipykernel\ipkernel.py", line 449, in do_execute
    res = shell.run_cell(
  File "C:\AnnacoondaAIML\Lib\site-packages\ipykernel\zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "C:\AnnacoondaAIML\Lib\site-packages\IPython\core\interactiveshell.py", line 3075, in run_cell
    result = self._run_cell(
  File "C:\AnnacoondaAIML\Lib\site-packages\IPython\core\interactiveshell.py", line 3130, in _run_cell
    result = runner(coro)
  File "C:\AnnacoondaAIML\Lib\site-packages\IPython\core\async_helpers.py", line 128, in _pseudo_sync_runner
    coro.send(None)
  File "C:\AnnacoondaAIML\Lib\site-packages\IPython\core\interactiveshell.py", line 3334, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\AnnacoondaAIML\Lib\site-packages\IPython\core\interactiveshell.py", line 3517, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "C:\AnnacoondaAIML\Lib\site-packages\IPython\core\interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\suman\AppData\Local\Temp\ipykernel_16312\1662815981.py", line 2, in <module>
    import pandas as pd
  File "C:\Users\suman\AppData\Roaming\Python\Python312\site-packages\pandas\__init__.py", line 62, in <module>
    from pandas.core.api import (
  File "C:\Users\suman\AppData\Roaming\Python\Python312\site-packages\pandas\core\api.py", line 9, in <module>
    from pandas.core.dtypes.dtypes import (
  File "C:\Users\suman\AppData\Roaming\Python\Python312\site-packages\pandas\core\dtypes\dtypes.py", line 24, in <module>
    from pandas._libs import (
  File "C:\AnnacoondaAIML\Lib\site-packages\pyarrow\__init__.py", line 65, in <module>
    import pyarrow.lib as _lib

ImportError:
A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.3.0 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.3.0 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "C:\AnnacoondaAIML\Lib\runpy.py", line 198, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\AnnacoondaAIML\Lib\runpy.py", line 88, in _run_code
    exec(code, run_globals)
  File "C:\AnnacoondaAIML\Lib\site-packages\ipykernel_launcher.py", line 18, in <module>
    app.launch_new_instance()
  File "C:\AnnacoondaAIML\Lib\site-packages\traitlets\config\application.py", line 1075, in launch_instance
    app.start()
  File "C:\AnnacoondaAIML\Lib\site-packages\ipykernel\kernelapp.py", line 739, in start
    self.io_loop.start()
  File "C:\AnnacoondaAIML\Lib\site-packages\tornado\platform\asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "C:\AnnacoondaAIML\Lib\asyncio\base_events.py", line 641, in run_forever
    self._run_once()
  File "C:\AnnacoondaAIML\Lib\asyncio\base_events.py", line 1986, in _run_once
    handle._run()
  File "C:\AnnacoondaAIML\Lib\asyncio\events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "C:\AnnacoondaAIML\Lib\site-packages\ipykernel\kernelbase.py", line 545, in dispatch_queue
    await self.process_one()
  File "C:\AnnacoondaAIML\Lib\site-packages\ipykernel\kernelbase.py", line 534, in process_one
    await dispatch(*args)
  File "C:\AnnacoondaAIML\Lib\site-packages\ipykernel\kernelbase.py", line 437, in dispatch_shell
    await result
  File "C:\AnnacoondaAIML\Lib\site-packages\ipykernel\ipkernel.py", line 362, in execute_request
    await super().execute_request(stream, ident, parent)
  File "C:\AnnacoondaAIML\Lib\site-packages\ipykernel\kernelbase.py", line 778, in execute_request
    reply_content = await reply_content
  File "C:\AnnacoondaAIML\Lib\site-packages\ipykernel\ipkernel.py", line 449, in do_execute
    res = shell.run_cell(
  File "C:\AnnacoondaAIML\Lib\site-packages\ipykernel\zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "C:\AnnacoondaAIML\Lib\site-packages\IPython\core\interactiveshell.py", line 3075, in run_cell
    result = self._run_cell(
  File "C:\AnnacoondaAIML\Lib\site-packages\IPython\core\interactiveshell.py", line 3130, in _run_cell
    result = runner(coro)
  File "C:\AnnacoondaAIML\Lib\site-packages\IPython\core\async_helpers.py", line 128, in _pseudo_sync_runner
    coro.send(None)
  File "C:\AnnacoondaAIML\Lib\site-packages\IPython\core\interactiveshell.py", line 3334, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\AnnacoondaAIML\Lib\site-packages\IPython\core\interactiveshell.py", line 3517, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "C:\AnnacoondaAIML\Lib\site-packages\IPython\core\interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\suman\AppData\Local\Temp\ipykernel_16312\1662815981.py", line 2, in <module>
    import pandas as pd
  File "C:\Users\suman\AppData\Roaming\Python\Python312\site-packages\pandas\__init__.py", line 62, in <module>
    from pandas.core.api import (
  File "C:\Users\suman\AppData\Roaming\Python\Python312\site-packages\pandas\core\api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "C:\Users\suman\AppData\Roaming\Python\Python312\site-packages\pandas\core\arrays\__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "C:\Users\suman\AppData\Roaming\Python\Python312\site-packages\pandas\core\arrays\arrow\__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "C:\Users\suman\AppData\Roaming\Python\Python312\site-packages\pandas\core\arrays\arrow\array.py", line 50, in <module>
    from pandas.core import (
  File "C:\Users\suman\AppData\Roaming\Python\Python312\site-packages\pandas\core\ops\__init__.py", line 8, in <module>
    from pandas.core.ops.array_ops import (
  File "C:\Users\suman\AppData\Roaming\Python\Python312\site-packages\pandas\core\ops\array_ops.py", line 56, in <module>
    from pandas.core.computation import expressions
  File "C:\Users\suman\AppData\Roaming\Python\Python312\site-packages\pandas\core\computation\expressions.py", line 21, in <module>
    from pandas.core.computation.check import NUMEXPR_INSTALLED
  File "C:\Users\suman\AppData\Roaming\Python\Python312\site-packages\pandas\core\computation\check.py", line 5, in <module>
    ne = import_optional_dependency("numexpr", errors="warn")
  File "C:\Users\suman\AppData\Roaming\Python\Python312\site-packages\pandas\compat\_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "C:\AnnacoondaAIML\Lib\importlib\__init__.py", line 90, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "C:\AnnacoondaAIML\Lib\site-packages\numexpr\__init__.py", line 24, in <module>
    from numexpr.interpreter import MAX_THREADS, use_vml, __BLOCK_SIZE1__

AttributeError: _ARRAY_API not found

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.3.0 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "C:\AnnacoondaAIML\Lib\runpy.py", line 198, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\AnnacoondaAIML\Lib\runpy.py", line 88, in _run_code
    exec(code, run_globals)
  File "C:\AnnacoondaAIML\Lib\site-packages\ipykernel_launcher.py", line 18, in <module>
    app.launch_new_instance()
  File "C:\AnnacoondaAIML\Lib\site-packages\traitlets\config\application.py", line 1075, in launch_instance
    app.start()
  File "C:\AnnacoondaAIML\Lib\site-packages\ipykernel\kernelapp.py", line 739, in start
    self.io_loop.start()
  File "C:\AnnacoondaAIML\Lib\site-packages\tornado\platform\asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "C:\AnnacoondaAIML\Lib\asyncio\base_events.py", line 641, in run_forever
    self._run_once()
  File "C:\AnnacoondaAIML\Lib\asyncio\base_events.py", line 1986, in _run_once
    handle._run()
  File "C:\AnnacoondaAIML\Lib\asyncio\events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "C:\AnnacoondaAIML\Lib\site-packages\ipykernel\kernelbase.py", line 545, in dispatch_queue
    await self.process_one()
  File "C:\AnnacoondaAIML\Lib\site-packages\ipykernel\kernelbase.py", line 534, in process_one
    await dispatch(*args)
  File "C:\AnnacoondaAIML\Lib\site-packages\ipykernel\kernelbase.py", line 437, in dispatch_shell
    await result
  File "C:\AnnacoondaAIML\Lib\site-packages\ipykernel\ipkernel.py", line 362, in execute_request
    await super().execute_request(stream, ident, parent)
  File "C:\AnnacoondaAIML\Lib\site-packages\ipykernel\kernelbase.py", line 778, in execute_request
    reply_content = await reply_content
  File "C:\AnnacoondaAIML\Lib\site-packages\ipykernel\ipkernel.py", line 449, in do_execute
    res = shell.run_cell(
  File "C:\AnnacoondaAIML\Lib\site-packages\ipykernel\zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "C:\AnnacoondaAIML\Lib\site-packages\IPython\core\interactiveshell.py", line 3075, in run_cell
    result = self._run_cell(
  File "C:\AnnacoondaAIML\Lib\site-packages\IPython\core\interactiveshell.py", line 3130, in _run_cell
    result = runner(coro)
  File "C:\AnnacoondaAIML\Lib\site-packages\IPython\core\async_helpers.py", line 128, in _pseudo_sync_runner
    coro.send(None)
  File "C:\AnnacoondaAIML\Lib\site-packages\IPython\core\interactiveshell.py", line 3334, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\AnnacoondaAIML\Lib\site-packages\IPython\core\interactiveshell.py", line 3517, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "C:\AnnacoondaAIML\Lib\site-packages\IPython\core\interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\suman\AppData\Local\Temp\ipykernel_16312\1662815981.py", line 2, in <module>
    import pandas as pd
  File "C:\Users\suman\AppData\Roaming\Python\Python312\site-packages\pandas\__init__.py", line 62, in <module>
    from pandas.core.api import (
  File "C:\Users\suman\AppData\Roaming\Python\Python312\site-packages\pandas\core\api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "C:\Users\suman\AppData\Roaming\Python\Python312\site-packages\pandas\core\arrays\__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "C:\Users\suman\AppData\Roaming\Python\Python312\site-packages\pandas\core\arrays\arrow\__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "C:\Users\suman\AppData\Roaming\Python\Python312\site-packages\pandas\core\arrays\arrow\array.py", line 64, in <module>
    from pandas.core.arrays.masked import BaseMaskedArray
  File "C:\Users\suman\AppData\Roaming\Python\Python312\site-packages\pandas\core\arrays\masked.py", line 60, in <module>
    from pandas.core import (
  File "C:\Users\suman\AppData\Roaming\Python\Python312\site-packages\pandas\core\nanops.py", line 52, in <module>
    bn = import_optional_dependency("bottleneck", errors="warn")
  File "C:\Users\suman\AppData\Roaming\Python\Python312\site-packages\pandas\compat\_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "C:\AnnacoondaAIML\Lib\importlib\__init__.py", line 90, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "C:\AnnacoondaAIML\Lib\site-packages\bottleneck\__init__.py", line 7, in <module>
    from .move import (move_argmax, move_argmin, move_max, move_mean, move_median,

ImportError:
A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.3.0 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

In [6]:
df = pd.read_csv(r"C:\Users\suman\OneDrive\Documents\Desktop\AIML-CTTC-ALL-NOTES\Mobile Price Prediction.csv")
df

,Screen Size (inches),RAM (GB),Storage (GB),Battery Capacity (mAh),Camera Quality (MP),Price ($)
0,6.2,4,64,4000,48,500
1,6.1,3,128,3110,12,800
2,6.5,6,256,4500,64,600
3,6.7,8,128,4300,48,700
4,6.4,6,128,4200,40,550
...,...,...,...,...,...,...
287,6.0,6,64,3700,12,750
288,6.3,4,128,4025,32,450
289,6.6,8,256,5000,48,700
290,6.5,6,128,4500,64,550
291,6.1,4,64,3000,16,400

In [8]:
df.shape

(292, 6)

In [9]:
df.isnull()

,Screen Size (inches),RAM (GB),Storage (GB),Battery Capacity (mAh),Camera Quality (MP),Price ($)
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
...,...,...,...,...,...,...
287,False,False,False,False,False,False
288,False,False,False,False,False,False
289,False,False,False,False,False,False
290,False,False,False,False,False,False
291,False,False,False,False,False,False

In [10]:
df.isnull().sum()

Screen Size (inches)      0
RAM (GB)                  0
Storage (GB)              0
Battery Capacity (mAh)    0
Camera Quality (MP)       0
Price ($)                 0
dtype: int64

In [11]:
df.dtypes

Screen Size (inches)      float64
RAM (GB)                    int64
Storage (GB)                int64
Battery Capacity (mAh)      int64
Camera Quality (MP)         int64
Price ($)                   int64
dtype: object

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292 entries, 0 to 291
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Screen Size (inches)    292 non-null    float64
 1   RAM (GB)                292 non-null    int64
 2   Storage (GB)            292 non-null    int64
 3   Battery Capacity (mAh)  292 non-null    int64
 4   Camera Quality (MP)     292 non-null    int64
 5   Price ($)               292 non-null    int64
dtypes: float64(1), int64(5)
memory usage: 13.8 KB

In [14]:
for i in df.columns:
    print(f"{i}:\n{df[i].unique()}\n")

Screen Size (inches):
[6.2 6.1 6.5 6.7 6.4 6.  6.3 6.6 5.8 5.7 5.9 6.8 6.9]

RAM (GB):
[4 3 6 8]

Storage (GB):
[ 64 128 256  32]

Battery Capacity (mAh):
[4000 3110 4500 4300 4200 3700 4025 5000 3000 3500 3800 4100 4400 3100
 4600 4700]

Camera Quality (MP):
[48 12 64 40 32 16 24 20]

Price ($):
[500 800 600 700 550 750 450 400 650 900]

In [15]:
df.describe()

,Screen Size (inches),RAM (GB),Storage (GB),Battery Capacity (mAh),Camera Quality (MP),Price ($)
count,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000
mean,6.346575,5.592466,137.205479,4063.253425,37.808219,624.828767
std,0.245416,1.658575,70.733994,551.790772,18.314291,132.611769
min,5.700000,3.000000,32.000000,3000.000000,12.000000,400.000000
25%,6.100000,4.000000,64.000000,3700.000000,20.000000,550.000000
50%,6.400000,6.000000,128.000000,4200.000000,40.000000,600.000000
75%,6.500000,6.000000,128.000000,4500.000000,48.000000,700.000000
max,6.900000,8.000000,256.000000,5000.000000,64.000000,900.000000

In [16]:
df.describe(include='all')

,Screen Size (inches),RAM (GB),Storage (GB),Battery Capacity (mAh),Camera Quality (MP),Price ($)
count,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000
mean,6.346575,5.592466,137.205479,4063.253425,37.808219,624.828767
std,0.245416,1.658575,70.733994,551.790772,18.314291,132.611769
min,5.700000,3.000000,32.000000,3000.000000,12.000000,400.000000
25%,6.100000,4.000000,64.000000,3700.000000,20.000000,550.000000
50%,6.400000,6.000000,128.000000,4200.000000,40.000000,600.000000
75%,6.500000,6.000000,128.000000,4500.000000,48.000000,700.000000
max,6.900000,8.000000,256.000000,5000.000000,64.000000,900.000000

## Assignment-2 (Student_Marks)

In [18]:
df2 = pd.read_csv(r"C:\Users\suman\OneDrive\Documents\Desktop\AIML-CTTC-ALL-NOTES\Student_Marks.csv")
df2

    number_courses  time_study   Marks
0                3       4.508  19.202
1                4       0.096   7.734
2                4       3.133  13.811
3                6       7.909  53.018
4                8       7.811  55.299
..             ...         ...     ...
95               6       3.561  19.128
96               3       0.301   5.609
97               4       7.163  41.444
98               7       0.309  12.027
99               3       6.335  32.357

[100 rows x 3 columns]

In [22]:
df2.shape

(100, 3)

In [23]:
df2.isnull()

    number_courses  time_study  Marks
0            False       False  False
1            False       False  False
2            False       False  False
3            False       False  False
4            False       False  False
..             ...         ...    ...
95           False       False  False
96           False       False  False
97           False       False  False
98           False       False  False
99           False       False  False

[100 rows x 3 columns]

In [24]:
df2.isnull().sum()

number_courses    0
time_study        0
Marks             0
dtype: int64

In [26]:
df2.dtypes

number_courses      int64
time_study        float64
Marks             float64
dtype: object

In [27]:
df2.info

<bound method DataFrame.info of     number_courses  time_study   Marks
0                3       4.508  19.202
1                4       0.096   7.734
2                4       3.133  13.811
3                6       7.909  53.018
4                8       7.811  55.299
..             ...         ...     ...
95               6       3.561  19.128
96               3       0.301   5.609
97               4       7.163  41.444
98               7       0.309  12.027
99               3       6.335  32.357

[100 rows x 3 columns]>

In [28]:
df2.describe()

       number_courses  time_study       Marks
count      100.000000  100.000000  100.000000
mean         5.290000    4.077140   24.417690
std          1.799523    2.372914   14.326199
min          3.000000    0.096000    5.609000
25%          4.000000    2.058500   12.633000
50%          5.000000    4.022000   20.059500
75%          7.000000    6.179250   36.676250
max          8.000000    7.957000   55.299000

In [30]:
for i in df2.columns:
    print(f"{i}:\n {df2[i].unique()}\n")

number_courses:
 [3 4 6 8 5 7]

time_study:
 [4.508 0.096 3.133 7.909 7.811 3.211 6.063 3.413 4.41  6.173 7.353 0.423
 4.218 4.274 2.908 4.26  5.719 6.08  7.711 3.977 4.733 6.126 2.051 4.875
 3.635 1.407 0.508 4.378 0.156 1.299 3.864 1.923 0.932 6.594 4.083 7.543
 2.966 7.283 6.533 7.775 0.14  2.754 3.591 1.557 1.954 2.061 3.797 4.779
 5.635 3.913 6.703 4.13  0.771 6.049 7.591 2.913 7.641 7.649 6.198 7.468
 0.376 2.438 3.606 4.869 0.13  2.142 5.473 0.55  1.395 3.948 3.736 2.518
 4.633 1.629 6.954 0.803 6.379 5.985 7.451 0.805 7.957 2.262 7.41  3.197
 1.982 6.201 4.067 1.033 1.803 6.376 4.182 2.73  5.027 6.471 3.919 3.561
 0.301 7.163 0.309 6.335]

Marks:
 [19.202  7.734 13.811 53.018 55.299 17.822 29.889 17.264 20.348 30.862
 42.036 12.132 24.318 17.672 11.397 19.466 30.548 38.49  50.986 25.133
 22.073 35.939 12.209 28.043 16.517  6.623 12.647 26.532  9.333  8.837
 24.172  8.1   15.038 39.965 17.171 43.978 13.119 46.453 41.358 51.142
  7.336 15.725 19.771 10.429  9.742  8.924 16.703 22.701 26.882 19.106
 40.602 22.184  7.892 36.653 53.158 18.238 53.359 51.583 31.236 51.343
 10.522 10.844 19.59  21.379 12.591 13.562 27.569  6.185  8.92  21.4
 16.606 13.416 20.398  7.014 39.952  6.217 36.746 38.278 49.544  6.349
 54.321 17.705 44.099 16.106 16.461 39.957 23.149  6.053 11.253 40.024
 24.394 19.564 23.916 42.426 24.451 19.128  5.609 41.444 12.027 32.357]

In [31]:
df.describe(include='all')

,Screen Size (inches),RAM (GB),Storage (GB),Battery Capacity (mAh),Camera Quality (MP),Price ($)
count,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000
mean,6.346575,5.592466,137.205479,4063.253425,37.808219,624.828767
std,0.245416,1.658575,70.733994,551.790772,18.314291,132.611769
min,5.700000,3.000000,32.000000,3000.000000,12.000000,400.000000
25%,6.100000,4.000000,64.000000,3700.000000,20.000000,550.000000
50%,6.400000,6.000000,128.000000,4200.000000,40.000000,600.000000
75%,6.500000,6.000000,128.000000,4500.000000,48.000000,700.000000
max,6.900000,8.000000,256.000000,5000.000000,64.000000,900.000000

In [32]:
import numpy as np
import pandas as pd
print(f"NumPy version: {np.__version__}")
print(f"Pandas version: {pd.__version__}")

NumPy version: 2.3.0
Pandas version: 2.2.3

In [33]:
import numpy as np
import pandas as pd
print(f"NumPy version: {np.__version__}")  # Should show 1.26.4
print(f"Pandas version: {pd.__version__}")

NumPy version: 2.3.0
Pandas version: 2.2.3

In [35]:
import numpy as np
import pandas as pd

In [38]:
import matplotlib.pylab as plt